[%# -*- mode: html; coding: utf-8; -*- %]
[% IF messages.size > 0 %]
<div>
[% FOREACH message = messages %]
[% IF message.classe == "debug" %]
  <pre class="message text-[% message.classe %] bg-[% message.classe %]" role="alert">
    [%- message.texte | html -%]
  </pre>
[% END %]
[% END %]
</div>
[% END %]
